ul {
    margin-top: 30px;

    li:first-child {
        line-height: 1.5;
        font-weight: 600;
        padding: 7px;

        div:nth-child(2),
        div:nth-child(3) {
            cursor: pointer;
        }
    }
}
