ul {
    margin-top: 30px;

    li {
        transition: background-color 0.3s; 
    }
    
    li:not(:first-child):hover {
        background-color: #e6e6e6;
    }

    li:first-child {
        line-height: 1.5;
        font-weight: 600;
        padding: 7px;

        div:nth-child(2),
        div:nth-child(3) {
            cursor: pointer;
        }
    }
}
